@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

body {
	background: url('gambar/bg.jpg');
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

hr {
	border:0;
	background:#dedede;
	height:1px;
}

header{
	text-align: center;
	color: #232323;
}

header .judul{
	font-size: 17pt;
}

header .deskripsi{
	font-size: 11pt;
}

.wrap {
	width: 100%;
	margin:25px auto;
}

nav.menu ul {
	overflow:hidden;
	color:#fff;
	list-style: none;
	padding:0;
	width: 100%;
	margin:0 0 0;
	background: #FFC0CB;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
}

nav.menu li {
	margin:0;
	float:left;
}

nav.menu a {
	padding:25px;
	display:block;
	font-weight:600;
	font-size: 16px;
	color:#fff;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}

nav.menu ul a:hover {
	text-decoration: underline;
	background:#16a085;
}

.sidebar {
	float:left;
	width:275px;
}

.sidebar .widget {
	padding:25px;
	margin:0 0 25px;
	background:#fff;
	border-bottom: 2px solid #fff;
	transition: all 0.5s ease;
}

.sidebar .widget:hover {
	border-bottom: 2px solid #3498db;
}

.sidebar .widget h2 {
	padding:0;
	margin:0 0 15px;
	color:#3498db;
	font-size: 18px;
	font-weight:800;
	text-transform: uppercase;
}

.sidebar .widget p {
	font-size: 14px;
}

.sidebar .widget p:last-child {
	margin:0;
}

.blog {
	float:left;
}

.konten {
	width:600px;
	padding:25px;
	margin:25px auto;
	background: #fff;
	border:1px solid #dedede;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
}

.konten img {
	min-width: 650px;
	margin:0 0 25px -25px;
	max-width: 650px;
}

.konten h1 {
	padding:0;
	margin:0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Georgia;
}

.konten p:last-child {
	margin: 0;
}

.konten .continue-lendo {
	color:#000;
	transition: all 0.5s ease;
	text-decoration: none;
	font-weight: 700;
}

.konten .continue-lendo:hover {
	margin-left:10px;
}

.post-info {
	float: right;
	font-size: 12px;
	margin: -10px 0 15px;
	text-transform: uppercase;
}

.login {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	width:25vw;
	box-shadow: 0 0 15px 5px black;
}


.avatar{
	font-size: 50px;
	background: url('gambar/avatar.png');
	width: 50px;
	height: 50px;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	color: #2c3e50;
}

.login h2{
	text-align: center;
	color: white;
	padding-top: 10px;
	letter-spacing: 5px;
}

.box-login{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	border-bottom: 2px solid white;
	padding: 8px 0;
}

.box-login i {
	font-size: 20px;
	color: white;
}

.box-login input{
	width: 100%;
	padding: 0 10px;
	background: none;
	border: none;
	outline: none;
	color: white;
	font-size: 18px;
}

.box-login input::placeholder {
	color: white;
}

.btn-login {
	width: 100%;
	background: none;
	padding: 10px;
	border: 1px solid white;
	font-size: 18px;
	letter-spacing: 5px;
	color: white;
	cursor: pointer;
	transition: 0.3s;
}

.btn-login:hover{
	background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 960px) {

	.header {
		position:inherit;
	}

	.wrap {
		width: 100%;
		margin:25px auto;
	}
	.sidebar {
		width:100%;
		margin:25px 0 0;
		float:right;
	}

	.sidebar .widget {
		padding:5%;
	}

	nav.menu ul {
		width: 100%;
	}

	nav.menu ul {
		float:inherit;
	}

	nav.menu ul li {
		float:inherit;
		margin:0;
	}

	nav.menu ul a {
		padding:15px;
		font-size: 16px;
		border-top:1px solid #1abf9f;
		border-bottom:1px solid #16a085;
	}

	.blog {
		width:100%;
	}

	.konten {
		float:inherit;
		margin:0 auto 25px;
		width:101%;
		border:1px solid #dedede;
		padding:5%;
		background: #fff;
	}

	.konten img {
		max-width: 110%;
		margin:0 0 25px -5%;
		min-width: 110%;
	}

	.konten .continue-lendo:hover {
		margin-left:0;
	}


	.login {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
		width:60vw;
		box-shadow: 0 0 15px 5px black;
	}


	.avatar{
		font-size: 50px;
		background: url('gambar/avatar.png');
		width: 50px;
		height: 50px;
		text-align: center;
		position: fixed;
		left: 50%;
		top: 0;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		color: #2c3e50;
	}

	.login h2{
		text-align: center;
		color: white;
		padding-top: 10px;
		letter-spacing: 5px;
	}

	.box-login{
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		border-bottom: 2px solid white;
		padding: 8px 0;
	}

	.box-login i {
		font-size: 20px;
		color: white;
	}

	.box-login input{
		width: 100%;
		padding: 0 10px;
		background: none;
		border: none;
		outline: none;
		color: white;
		font-size: 18px;
	}

	.box-login input::placeholder {
		color: white;
	}

	.btn-login {
		width: 100%;
		background: none;
		padding: 10px;
		border: 1px solid white;
		font-size: 18px;
		letter-spacing: 5px;
		color: white;
		cursor: pointer;
		transition: 0.3s;
	}

	.btn-login:hover{
		background: rgba(0, 0, 0, 0.8);
	}


}

@media screen and (max-width: 460px) {

	nav.menu ul a {
		padding:15px;
		font-size: 14px;
	}

	.sidebar {
		display:none
	}
	.post-info {
		display:none;
	}

	.konten {
		margin:25px auto;
	}

	.konten img {
		margin:-5% 0 25px -5%;
	}

	.login {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
		width: 60vw;
		box-shadow: 0 0 15px 5px black;
	}


	.avatar{
		font-size: 50px;
		background: url('gambar/avatar.png');
		width: 50px;
		height: 50px;
		text-align: center;
		position: fixed;
		left: 50%;
		top: 0;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		color: #2c3e50;
	}

	.login h2{
		text-align: center;
		color: white;
		padding-top: 10px;
		letter-spacing: 5px;
	}

	.box-login{
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		border-bottom: 2px solid white;
		padding: 8px 0;
	}

	.box-login i {
		font-size: 20px;
		color: white;
	}

	.box-login input{
		width: 100%;
		padding: 0 10px;
		background: none;
		border: none;
		outline: none;
		color: white;
		font-size: 18px;
	}

	.box-login input::placeholder {
		color: white;
	}

	.btn-login {
		width: 100%;
		background: none;
		padding: 10px;
		border: 1px solid white;
		font-size: 18px;
		letter-spacing: 5px;
		color: white;
		cursor: pointer;
		transition: 0.3s;
	}

	.btn-login:hover{
		background: rgba(0, 0, 0, 0.8);
	}
}

li.active{
	background: #16a085;
}

div.main_content img {
	width: 150px;
	height: 150px;
}

div.desc {
	padding: 15px;
	text-align: center;
	background: #D980FA;
}

div.gallery {
	margin: 5px;
	margin-left: 50px;
	margin-top: 30px;
	border: 1px solid #ccc;
	float: left;
	width: 230px;
	background: white;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: 250px;
}

div.desc {
	padding: 15px;
	text-align: center;
	background: #D980FA;
}
div.akun {
	margin: 5px;
	margin-left: 50px;
	margin-top: 30px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
	background: white;
}

div.akun:hover {
	border: 1px solid #777;
}

div.akun img {
	width: 100%;
	height: auto;
}

.main_content{
	margin-top: 10vw;
	margin-left: 55vw;
	border: 1px solid #ccc;
	float: left;
	width: 150px;
	height: auto;
	background: #F0FFF0;
	position: center;
}

.wrapper{
	display: flex;
	position: relative;
}

.wrapper .sidebar{
	position: fixed;
	width: 300px;
	height: 100%;
	background: #4b4276;
	padding: 30px 0;
	list-style: none;
}

.wrapper .sidebar h2{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.wrapper .sidebar ul li{
	list-style: none;
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li a{
	text-decoration: none;
	color: #bdb8d7;
	display: block;
}

.wrapper .sidebar ul li a .fas{
	width: 25px;
}
.wrapper .sidebar ul li :hover{
	background: #594f8d;
}

.wrapper .sidebar ul li :hover a{
	color: #fff;
}

.btn {
	width: 100%;
	background: #16A085;
	padding: 10px;
	font-size: 18px;
	color: white;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover{
	background: rgba(0, 0, 0, 0.8);
}

{
    background: url(bg.jpg);
    background-size: cover;
}
p
{
    color: Blue;
    font-family:Tahoma, Geneva, sans-serif;
    margin-left: 100px;

}
.slide {
    width: 100%;
    height: 500px;
		background-image: url("gambar/2.png");
    display: flex;
		position: center;

}

.slide .show {
    width: 40%;
    margin-left: 20%;
    margin-top: 15px;
    font-family: 'Lora';
    font-size: 60px;
    color: pink;
}

.slide .show .s {
    margin-top: -50px;
    font-size: 20px;
    width: 50%;
}
.grid{
		  max-width: 780px;
		  margin: 0px auto;
		  background: pink;
		  overflow: hidden;
			background-color: #B0E0E6;

		}
.row {
		  display: -ms-flexbox;
		  display: flex;
		  -ms-flex-wrap: wrap;
		  flex-wrap: wrap;
		  width: 1000px;

		}

.column {
		  -ms-flex: 25%;
		  flex: 25%;
		  max-width: 25%;
		  padding:5px;
		}
		.column img {
		  margin-top: 10px;
		  vertical-align: middle;
		  width: 100%;

	}
	.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.ubah {
  background-color: blue;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.containerdetail{
  max-width: 400px;
  margin: 0px auto;
	margin-top: 0px;
  background: #FFB6C1;
  overflow: hidden;
  padding: 10px;
  /* padding-top: 10%;*/
}

.textdetail{
  width: 500px;
  height: 400px;
  padding: 10px;
  margin: 10px;
  float: left;
}
.textdetail a{
  font-weight: bold;
}

.tulisan{
  width: 300px;
  float: left;
	height: auto;
	position: center;

}
	.footer{
	  border: 1px solid#F0FFF0;
	  margin: 10px;
	  background-color: #F0FFF0;
	  text-align: left;


	}
